/*
 * Copyright (c) 2021-2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

#define COLEMK_L 0
#define NAV_L    1
#define SYM_L    2

#define Undo   LC(Z)
#define Cut    LC(X)
#define Copy   LC(C)
#define Paste  LC(V)
#define Redo   LC(Y)


/ {
        keymap {
                compatible = "zmk,keymap";
		
                colemak_layer {
/* COLEMAK-DH
 * -------------------------------------------------------------------------------------------------------------------------------------
 * | `     |   Q   |   W   |   F   |   P   |   B   |-----------------------------------|   J   |   L   |   U   |   Y   |   ;   | BKSPC |
 * | TAB   |   A   |   R   |   S   |   T   |   G   |-----------------------------------|   M   |   N   |   E   |   I   |   O   |   '   |
 * | ESC   |   Z   |   X   |   C   |   D   |   V   |  LGUI |-------------------| CAPS  |   K   |   H   |   ,   |   .   |   /   | ENTER |
 *                                 |  GUI  | LSHIFT|  BSPC | LCTRL |---|  ALT  | SPACE | SYM_L |  GUI  |
 */
                        bindings = <
&kp  GRAVE    &kp  Q        &kp  W        &kp  F        &kp  P        &kp  B                                                                         &kp  J        &kp  L        &kp  U        &kp  Y        &kp  SEMI     &kp  BSPC
&kp  TAB      &kp  A        &kp  R        &kp  S        &kp  T        &kp  G                                                                         &kp  M        &kp  N        &kp  E        &kp  I        &kp  O        &kp  SQT
&kp  ESC      &kp  Z        &kp  X        &kp  C        &kp  D        &kp  V        &kp   LGUI                                         &caps_word    &kp  K        &kp  H        &kp  COMMA    &kp  DOT      &kp  SLASH    &kp  ENTER
                                                        &mo  NAV_L    &kp  LSHIFT   &sk  BSPC      &kp  LCTRL            &kp  LALT     &kp  SPACE    &mo  SYM_L    &kp  RGUI
                        >;
			
                        sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
                };
		
                nav_layer {
/* NAV   
 * -------------------------------------------------------------------------------------------------------------------------------------
 * | Copy  |   1   |   2   |   3   |   4   |   5   |-----------------------------------|   6   |   7   |   8   |   9   |   0   | BSPC  |
 * | Cut   |  GUI  |  Alt  | Ctrl  | Shift | Paste |-----------------------------------| PG UP |  Left |  Up   |  Down | Right | PG DN |
 * | Ctrl  |  F1   |  F2   |  F3   |  F4   |  F5   |  UnDo |-------------------| ReDo  |  F6   |  F7   |  F8   |  F9   |  F10  | Ctrl  |
 *                                 |       |       |       |       |---| NAV_L |       |       |       |
 */
                        bindings = <
&kp  Copy     &kp  N1       &kp  N2       &kp  N3       &kp  N4       &kp  N5                                                                        &kp   N6      &kp   N7      &kp   N8      &kp   N9      &kp  N0       &trans
&kp  Cut      &kp  LGUI     &kp  LALT     &kp  LCTRL    &kp  LSHFT    &kp  Paste                                                                     &kp   PG_UP   &kp  LEFT    &kp   UP      &kp   DOWN    &kp  RIGHT    &kp PG_DN
&trans        &kp  F1       &kp  F2       &kp  F3       &kp  F4       &kp  F5       &kp Undo                                           &kp  Redo     &kp   F6      &kp  F7      &kp   F8      &kp   F9      &kp  F10      &kp RCTRL
                                                        &trans        &trans        &trans        &trans                 &mo NAV_L     &trans        &trans        &trans 
                        >;
			
                        sensor-bindings = <&inc_dec_kp PG_UP PG_DN &inc_dec_kp C_VOL_UP C_VOL_DN>;
                };

                sym_layer {
/* SYM
 * -------------------------------------------------------------------------------------------------------------------------------------
 * | INS   |   !   |   @   |   #   |   $   |   %   |-----------------------------------| ` or ~|   7   |   8   |   9   |   *   |       |
 * |       |   {   |   (   |   _   |   )   |   }   |-----------------------------------|\ or | |   4   |   5   |   6   |   -   |   0   |
 * |       |   [   |   <   |   ^   |   >   |   ]   |       |-------------------|       |   &   |   1   |   2   |   3   |   +   |   =   |
 *                                 |       |       |       |        |---|      |       |       |       |
 */
                        bindings = <
&kp  INS      &kp  EXCL     &kp  AT       &kp  HASH     &kp  DOLLAR   &kp  PERCENT                                                                   &kp  GRAVE    &kp  N7       &kp  N8       &kp  N9       &kp  ASTRK    &trans
&trans        &kp  LBRC     &kp  LPAR     &kp  UNDER    &kp  RPAR     &kp  RBRC                                                                      &kp  BSLH     &kp  N4       &kp  N5       &kp  N6       &kp  MINUS    &kp N0
&trans        &kp  LBKT     &kp  LT       &kp  CARET    &kp  GT       &kp  RBKT     &trans                                             &trans        &kp  AMPS     &kp  N1       &kp  N2       &kp  N3       &kp  PLUS     &kp EQUAL
                                                        &trans        &trans        &trans       &trans                   &trans       &trans        &trans        &trans
                        >;
			
                        sensor-bindings = <&inc_dec_kp PG_UP PG_DN &inc_dec_kp C_VOL_UP C_VOL_DN>;
                };

        };
};